@font-face {
    font-family: 'Hack';
    src: url('/fonts/hack-regular.woff2');
}

@font-face {
    font-family: "source-han-serif-sc";
    src: url('/fonts/SourceHanSerifCN-Regular.woff2');
}

body{
    font-family: 'Hack';
    background-color: black;
    color: white;
    border: var(--border-width) solid white;
    display: flex;
    width: 96vw;
    height: 96vh;
}

#navigation{
    width: 20vw;
    height: 96vh;
    border: 1px white solid;
}

#mainframe{
    width: 76vw;
    height: 96vh;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Hack", "source-han-serif-sc";
    margin-left: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    border: 1px black solid;
}

#nav-title{
    font-size: xx-large;
    text-align: center;
}

#subdir-list{
    overflow-y: scroll;
}

#title{
    text-align: center;
}